* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
}
h1, h2, h3, h4, h5, h6, p {
    color: rgb(102, 102, 102);
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
#container {
    padding: 1rem;
}
header[id='header'] {
    max-height: 7rem;
    display: flex;
    border-bottom: 1px solid rgb(102, 102, 102);
}
header[id='header'] h1, header[id='header'] p {
    flex-grow: 1;
    gap: 1rem;
}
header[id='header'] h1{
    font-size: 2rem;
}
header[id='header'] nav ul {
    list-style: none;
}
header[id='header'] nav ul li {
    display: inline-flex;
    margin-right: 2rem;
}
header[id='header'] nav ul li a {
    color: rgb(74, 9, 158);
}
#content-intro {
    position: relative;
}
#next-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: -2rem 4rem;
    opacity: 0.7;
    transition: 1s all;
    background: transparent;
    border: none;
}
#next-btn:hover {
    opacity: 1.0;
}
#next-btn a {
    text-decoration: none;
    background: rgb(102, 102, 102);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(102, 102, 102);
    border-radius: 5px;
    padding: 0.5rem 0.7rem;
    font-size: 1rem;
    cursor: pointer;
}
.product-list {
    list-style: none;
}
.product-list li {
    display: inline-block;
}
.product-list li .btn-selector {
    background: rgb(102, 102, 102);
    border: 1px solid rgb(102, 102, 102);
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.search-box {
    display: inline-flex;
}
.btn-selector-search {
    width: 26%;
    border: 1px solid rgb(102, 102, 102);
    padding: 3px 0.5rem;
    background: transparent;
    transition: 1s all;
}
.btn-selector-search:focus{
    width: 100%;
    border: 1px solid rgb(102, 102, 102);
    background: transparent;
}
.product-list li .active {
    background: rgb(14, 113, 131);
    border: 1px solid rgb(14, 113, 131);
}
.products_listed {
    list-style: none;
}
.products_listed li {
    position: relative;
    width: 22%;
    min-width: 200px;
    max-width: 450px;
    max-height: 350px;
    display: inline-block;
    overflow: hidden;
    margin: 1rem;
    padding: 1rem;
}
.prod-img {
    overflow: hidden;
    max-height: 50%;
    position: relative;
}
.prod-desc {
    height: 50%;
    position: relative;
}
.products_listed li img {
    width: 150px;
    height: 150px;
}
.purchaser {
    background: rgb(102, 102, 102);
    border: 1px solid rgb(102, 102, 102);
    color: rgb(255, 255, 255);
    cursor: pointer;
    width: 100%;
    padding: 5px 0;
}
.user-form {
    position: relative;
    width: 45%;
    margin: 1rem auto;
    -webkit-box-shadow: 0 0 7px 4px rgb(102, 102, 102);
    -moz-box-shadow: 0 0 7px 4px rgb(102, 102, 102);
    box-shadow: 0 0 7px 4px rgb(102, 102, 102);
}
.input-container {
    display: block;
    margin: 1rem;
    padding: 1rem;
}
.ic-signup {
    margin: 0.2rem;
}
.input-container label {
    display: block;
    margin-bottom: 1rem;
}
.input-container input {
    padding: 1rem;
    font-size: 1.1rem;
    border-radius: 5px;
    border: 1px solid rgb(102, 102, 102);
    background: transparent;
    min-width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    color: rgb(14, 113, 131);
}
.input-container input[class='s-input'] {
    padding: 0.7rem;
    font-size: 1rem;
}
.form-btn {
    background: rgb(102, 102, 102);
    border: rgb(102, 102, 102);
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    padding :1rem;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}
.e_ {
    float: right;
    color: rgb(74, 9, 158);
}
.checkout-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    /* z-index: 2; */
    background:rgb(255, 255, 255);
    border-top: 1px solid rgb(14, 113, 131);
    display: flex;
}
.checkout-container p {
    flex-grow: 1;
    font-weight: 800;
}
.checkout-container button {
    margin-right: 10%;
    background: rgb(14, 113, 131);
    border: 1px solid rgb(14, 113, 131);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    padding: 0 1rem;
    cursor: pointer;
}
#spacer {
    min-height: 100px;
}


@media screen and (max-width: 768px) {
    header[id='header'] {
        display: block;
        max-height: 11rem;
    }
    header[id='header'] nav ul {
        margin-left: -2rem;
    }
    header[id='header'] h1, header[id='header'] p {
        display: block;
    }
    .shop-sample {
        max-width: 75%;
        min-width: 250px;
    }
    #next-btn {
        top: 0;
        left: 0;
        margin: 22rem -1rem;
        min-width: 290px;
    }
    .product-list  {
        margin-left: -2rem;
    }
    .product-list li {
        display: block;
    }
    .product-list li button {
        width: 100px;
        margin-bottom: 3px;
    }
    .btn-selector-search {
        width: 100px;
        max-height: 27px;
    }
    .products_listed {
        margin-left: -4rem;
    }
   #submit-search {
        padding: 3px 0.5rem;
    }
    .user-form {
        width: 80%;
    }
}

@media screen and (max-width: 540px) {
    .products_listed li {
        width: 70%;
        max-height: 400px;
    }
    .products_listed li img {
        width: 220px;
        height: 220px;
    }
}
